apex==0.9.8.dev0
certifi==2020.4.5.1
cffi==1.13.2
mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
numpy==1.19.5
olefile==0.46
opencv-contrib-python==4.2.0.34
Pillow==6.2.1
protobuf==3.10.0
ptflops==0.5.2
pycparser==2.19
pynvml==8.0.4
PyYAML==5.1.2
scipy==1.4.1
six==1.13.0
tensorboardX==1.9
torch==1.3.0
torchvision==0.4.1
